#account-menu li{
    font-size: 14px !important;
    padding: 12px 15px !important;
}
#account-menu li svg{
    right: 17% !important;
}

#Notificao .MuiPaper-elevation{
right: 20% !important;    
width: 400px !important;
left: auto !important;
}
#Notificao .info{
        padding: 10px; /* Espaçamento interno */
        margin-left: 10px; /* Espaço entre a imagem e o texto */
        max-width: 250px; /* Defina a largura máxima conforme necessário */
        white-space: normal;
        text-align: center;
      
}